<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  
    <title>Inicio projeto</title>
    
</head><body>
  <div id="fundo">
    <%- include('vlibras') %>

      <div class="container-fluid">
          <div class="row">
           
            
              <div class="col d-flex flex-column " id="direito"> 
                
                <H1 class="nav-link" id="txt_esquerdo">PROJETO JUDÔ EM DESTAQUE</H1>               
                  <img src="images/desenho.svg" id="imagem_luta" alt="">
              </div>
             
              <div class="col-5 d-flex flex-column justify-content-center">
                <nav class="navbar navbar-expand-lg navbar-light " id="menu">
                <div class="collapse navbar-collapse mr-10 d-flex flex-row-reverse " id="navbarNav">
                
              </div>
          </nav>
    
          <div id="texto">              <div id="txt_entre">
                      <h1><span id="projeto">PROJETO</span> <span id="judocas">JUDÔ</h1>
                  </div>

                  <h1 id="futuro">EM DESTAQUE</h1> 
    
                </div>              <br><br>
                  <h4 class="mb-4">
                    Bem-vindo ao Projeto Judô! Aqui, ajudamos você a progredir na sua jornada, desde a faixa branca até as graduações mais avançadas. Com tutoriais e dicas exclusivas, você vai dominar novos golpes e técnicas, sempre em busca do próximo nível. Vamos juntos alcançar o seu próximo desafio no tatame!</h4></h4>
                  <div class="d-flex justify-content-center">
                      <a href="/login"> <button class="btn" style="height: 50px; background-color: #a32927; color: #ffffff;">Entrar</button></a>
                      <a href="/cadastro"> <button class="btn" style="height: 50px; margin-left: 4%; background-color: #a32927; color: #ffffff;">Cadastre-se</button></a><br>
                  </div>
                  
                 
              </div>
          </div>
          
      </div>
     
  </div>
 
</body>

</html>


