@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap');


.navbar {
   
    color: #040404;
}
#menu{
    height: 50px;
 
    font-size: 15px;
}
#txt_esquerdo{
    padding: 10px 16px;
    font-size: 15px ;
    color: #ffffff;
    margin-top: 6px;
    
  font-family: "Noto Sans Khojki", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.col {
    height: calc(100vh ); 
}

.btn:hover {
    margin-top: 2%;
    background-color:  #a32927;
    width: 100%;
    color: #af696975;
}

.btn {
    margin-top: 2%;
    background-color: #a32927;
    color: #ffffff;
}

#direito {
    background-color: #a32927;
}

#imagem_luta {
    height: 70%;
    margin-top: 10%;
}

#txt_entre {
    margin-top: 40px;
    display: inline; 
}

#projeto {
    color: white; 
    margin-left: -37%;
}

#judocas {
    color: black; 
}

#txt_entre h1 {
    font-size: 3rem; 
   
}

#txt_entre h4 {
    font-size: 1.5rem; 
    color: #333; 
    margin-bottom: 30px;
}
#futuro{
    margin-left: 8%;
    font-size: 3rem;
    color: black;
}


#direitosA {
    font-size:  1rem;
    
    margin-left: 55%;
    text-decoration: none; 
    color: rgba(0, 0, 0, 0.277);
}

#direitosA:hover {
 
    margin-left: 55%;
    text-decoration: none; 
    color: rgba(0, 0, 0, 0.277);
}
#texto {
    margin-bottom: 20px;
}